body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    align-self: center;
    text-align: center;
    margin: auto;
}

main {
    text-align: center;
    margin: auto;
}